body {
  background-color: antiquewhite;
  color: brown;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

p {
  font-size: 1.5em;
}

section {
  padding: 10px;
  margin: 5px;
  text-align: center;
}

#about {
  text-align: center;
}

#about p {
  width: 400px;
}

h2 {
  font-size: 30px;
  font-weight: 800;
  color: black;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
}

.strong {
  font-weight: 900;
}

#profile-img {
  width: 30%;
  border-radius: 10px;
}

#experience-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#experience li {
  display: block;
}

#experience {
  display: grid;
  align-items: stretch;
}

.experience-block {
  display: flex;
  flex-direction: column;
  border: solid rgba(0, 0, 0, 0.228) 2px;
  padding: 15px;
  border-radius: 10px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.experience-ul {
  flex-direction: column;
}

#connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#connect a {
  text-decoration: none;
}

#connect li {
  list-style-type: none;
}

i {
  color: black;
}

#connect ul {
  width: 400px;
  padding: 0;
  display: grid;
  grid-template-columns: 200px 200px;
}

nav {
  position: sticky;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.609);
  width: 100vw;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 10px;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav ul li a:hover {
  color: aquamarine;
}

/* Tablet */
@media (max-width: 768px) {
  body {
    background-color: lightgreen;
    font-size: 1.4rem;
  }

  #profile-img {
    width: 50%;
    border-radius: 20px;
  }

  h2{
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}

/* Phones */
@media (max-width: 480px) {
  body {
    background-color: lightblue;
    font-size: 1.2rem;
  }

  nav {
    background-color: rgb(52, 52, 52);
    height: 50px;
    width: 100%;
  }

  nav ul {
    align-items: center;
    justify-content: space-evenly;
  }

  #profile-img {
    width: 50%;
    border-radius: 20px;
  }
}
