body{
    background-color: antiquewhite;
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
}

section{
    padding: 10px;
    margin: 5px;
    text-align: center;
    
}

#about{
    text-align: center;
   
}

#about p{
    width: 400px;
}

h2{
    font-size: 30px;
    font-weight: 800;
    color: black;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

.strong{
    font-weight: 900;
}

#profile-img{
    width: 100px;
    border-radius: 10px;
}

#experience-group{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#experience li{
    display: block;
}

.experience-block{
    display: flex;
    flex-direction: column;
    border: solid rgba(0, 0, 0, 0.228) 2px;
    padding: 15px;
    border-radius: 10px;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.experience-ul{
 flex-direction: column;
 
}

#connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#connect a{
    
    text-decoration: none;
    
}

#connect li {
  list-style-type: none;
}

i{
    color: black;
    
}

#connect ul{
    width: 400px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    ;
}

nav{
    position: sticky;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.609);
    width: 100vw;
    
   

}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin:10px;
    padding: 0;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav ul li a:hover{
    color: aquamarine;
}